html
    head 
        title Protected page
        link(rel="stylesheet" href="/css/protected_page.css") 
    body 
        div(class="div-wrapper")
            br
            div(class="div-wrapper2")
                h1 Hey #{id}, you have a lovely name by the way, How are you doing today?
                h1 Here you can Update or Delete your Profile, Create and add users to chat rooms, and Join the general and Private chats!
            br
            div(class="div-wrapper5")
                    a(href="/update") Update
                    a(href="/logout") Logout
                    a(href="/delete") Delete
                    a(href="/create_room") Create Room
                    a(href="/add_to_room") Add User to Room
                    a(href="/regGenChat") General Chat
                    a(href="/private_chat") Private Chat
