doctype html
html 
    head 
        title Signup 
        link(rel="stylesheet" href="/css/signup.css")
    body 
        if(message)
            h4 #{message}
        form(action = "/signup", method = "POST")
            div(class="div-wrapper")
                h1 Sign Up!
                div(class="div-username") 
                    label(for = "username") Username: 
                    input(name = "username")
                br
                div(class="div-password")
                    label(for = "password") Password: 
                    input(name = "password")
                br
                div(class="div-confirm")
                    label(for = "confirm") Confirm: 
                    input(name = "confirm")
                br
                button(type = "submit") Sign up!