html 
    head 
        title Delete Profile 
        link(rel="stylesheet" href="/css/delete.css")
    body 
        div(class="div-wrapper")
            br
            if(message)
                h4 #{message}
            div(class="div-wrapper3")
                form(action = "/delete", method = "POST")
                    h2 If you want to delete your profile enter your password in the text box below.
                    h1 Warning this cannot be undone.
                    br
                    div(class="div-deleteProfile")
                        label(for = "Delete") Delete Profile: 
                        input(name = "Delete")
                    br
                    div(class="div-wrapper2")
                        button(type = "submit") Delete!