html 
    head 
        meta(name="viewport", content="width=device-width,initial-scale=1.0")
        link(rel="stylesheet" href="/css/general_chat.css")
        title General Chat 
    body 
        ul(id="messages")
        form(id="form", action="")
            input(id="input", autocomplete="off")
            button Send
        script(src="/socket.io/socket.io.js")
        script. 
            var socket = io();