<html>
    <head>
        <title>Join Rooom</title>
        <link rel="stylesheet" href="/css/join_room.css"/>
    </head>
    <body>
        <div class="wrapper">
            <form id="form" action="/join_room" method="POST">
                <h1>Join Room</h1>
                <div class="div-roomName">
                    <input id="roomName" autocomplete="off" name="roomName" type="text" required placeholder="Room Name"/>
                </div>
                <br>
                <div class="div-roomCode">
                    <input id="roomCode" autocomplete="off" name="roomCode" type="text" required placeholder="Room Code"/>
                </div>
                <br>
                <button type="submit">Join Room</button>
            </form>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            const socket = io();

            const form = document.getElementById('form')
            const roomName = document.getElementById('roomName')


            form.addEventListener('submit', function(e) {
                e.preventDefault();
                if (roomName.value) {
                    socket.emit('joinRoom', roomName.value);
                }
            });
        </script>
    </body>
</html>