html
    head
    style 
        include stylesheet.css
             
            
    body.centered
        if(message)
            h4 #{message}
        form(action = "/login" method = "POST")
            div 
                h1 Login here!
            div
                input(name = "id" type = "text" required placeholder = "User ID")
            div.white-text
                style(color: white)
                input(name = "password" type = "password" required placeholder = "Password")
            button(type = "Submit") Log in

        
