html
    head
        title Login
        link(rel="stylesheet" href="/css/login.css")
    body.centered
        if(message)
            h4 #{message}
        form(action = "/login" method = "POST")
            div(class="div-wrapper")
                h1 Login here!
                div(class="div-username") 
                    input(name = "id" type = "text" required placeholder = "User ID")
                br
                div(class="div-password")
                    style(color: white)
                    input(name = "password" type = "password" required placeholder = "Password")
                br
                button(type = "Submit") Log in

        
