html
    head 
        title Protected page
        link(rel="stylesheet" href="/css/protected_page.css") 
    body 
        div(class="div-wrapper")
            br
            div(class="div-wrapper2")
                h1 Hey #{id}, you have a lovely name by the way, How are you doing today?
            br
            div(class="div-wrapper3") 
                h1 Want to update your information? Click on update!
            br
            div(class="div-wrapper4") 
                h1 Want to log out? Click logout!!!
            br
            div(class="div-wrapper5")
                    a(href="/update") Update
                    a(href="/logout") Logout
                    a(href="/delete") Delete
                    a(href="/regGenChat") General Chat
                    a(href="/private_chat") Private Chat
