<!DOCTYPE html>
<html>
    <head>
        <title>Profile</title>
        <link rel="stylesheet" type="text/css" href="/css/protected_page.css">
    </head>
    <body>
        <div class="div-wrapper">
            <br>
            <div class="div-wrapper2">
                <h1>Hey <%= id %>, you have a lovely name by the way, How are you doing today?</h1>
                <h1>Here you can Update / Delete your account, Create and add other users to chat rooms, and Join the General or Private Chat rooms!</h1>
            </div>
            <br>
            <div class="div-wrapper5">
                <a href="/update">Update</a>
                <a href="/logout">Logout</a>
                <a href="/delete">Delete</a>
                <a href="/create_room">Create Room</a>
                <a href="/add_to_room">Add User to Room</a>
                <a href="/regGenChat">General Chat</a>
                <a href="/private_chat">Private Chat</a>
            </div>
        </div>
    </body>
</html>