html
    head 
        title Protected page 
    body 
        div Hey #{id}, you have a lovely name by the way, How are you doing today?
        div Want to update your information? Click on update!
        div
            p 
                a(href="/update") Update
        div Want to log out? Click the Logout!!!
        div 
            p 
                a(href="/logout") Logout