<!DOCTYPE html>
<html>
    <head>
        <title>Signup</title>
        <link rel="stylesheet" type="text/css" href="/css/signup.css">
    </head>
    <body>
        <% if (message) %>
            <h4><%= message %></h4>
        <form action="/signup" method="POST">
            <div class="div-wrapper">
                <h1>Signup</h1>
                <input name="id" type="text" required placeholder="Username">
                <input name="password" type="password" required placeholder="Password">
                <input name="confirmPassword" type="password" required placeholder="Confirm Password">
                <button type="submit">Signup</button>
            </div>
        </form>
    </body>
</html>