h1 {
    text-align: center;
    text-shadow: -1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
    color: white;
    font-family: courier;
    font-size: 35px;
}

body {
    text-align: center;
    background-color: rgb(80, 0, 85);
}