doctype html
html 
    head 
        title Update Profile 
        link(rel="stylesheet" href="/css/update.css")
    body 
        if(message)
            h4 #{message}
        form(action = "/update", method = "POST")
                div(class="div-newPassword")
                    label(for = "password") New Password: 
                    input(name = "password")
                br
                button(type = "submit") Update!