body {
    margin: 0;
    padding-bottom: 6rem;
    background-color: #242526;
    font-family: courier;
}
#form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: fixed;
    bottom: -15;
    left: 0;
    background-color: #1f0f66;
    right: 0;
    font-family: courier;
    display: flex;
    height: 4rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}
.topbar {
    background-color: #40124C;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
}
  
.topbar a {
    float: right;
    color: #f2f2f2;
    text-align: right;
    text-decoration: none;
    font-size: 17px;
}
#input {
    border: none;
    padding: 0 1rem;
    background-color: #40124C;
    font-family: courier;
    flex-grow: 1;
    color: white;
    border-radius: 2rem;
    margin: 0.25rem;
}
#input:focus {
    outline: none;
}
#form > button {
    background: #880085;
    border-width: 4;
    padding: 0 1rem;
    border-color: rgb(68, 27, 214);
    margin: 0.1rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}
#messages {
    list-style-type: none;
    margin: 0;
    color: white;
    font-family: courier;
    padding: 0;
}
#messages > li {
    padding: 0.5rem 1rem;
}
#messages > li:nth-child(odd) {
    background: #880085;
}

a {
    text-decoration: none;
    background: #880085;
    border-width: 4px; 
    padding: 0 1rem;
    border-color: rgb(68, 27, 214);
    margin: 0.1rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 2.5;
    border-style: solid;
}