body {
    margin: 0;
    padding-bottom: 3rem;
    background-color: #242526;
    font-family: courier;
}
.sidebar {
    position: fixed;
    background-color: #1f0f66;
    height: 100%;
    width: 200px;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 100px;
}


.roomInput,
.codeInput{
    padding: 6px 12px;
    background: #40124C;
    border: 1px solid #242526;
    border-radius: 4px;
    font-size: 13px;
    color: rgb(247, 248, 248);
    height: 30px;
    appearance: none;
    transition: border 0.15s ease 0s;
    :focus{
        outline: none;
        box-shadow: none;
        border-color: rgb(100, 153, 255);
    }
}
.div-roomName,
.div-userName,
.div-roomCode,
.button-wrapper {
    margin: auto;
}
.joinRoom{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #880085;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    height: 40px;
    width: 200px;
    font-family: courier;
    font-size: 18px;
    text-shadow: -1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
}
.joinRoomHeader{
    text-shadow: -1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
    color: white;
    font-family: courier;
    font-size: 24px;
    padding-left: 25px;
}

#form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: fixed;
    bottom: -15;
    background-color: #1f0f66;
    right: 0;
    left: 200px;
    font-family: courier;
    display: flex;
    height: 4rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}
#input {
    border: none;
    padding: 0 1rem;
    background-color: #40124C;
    font-family: courier;
    flex-grow: 1;
    color: white;
    border-radius: 2rem;
    margin: 0.25rem;
}
#input:focus {
    outline: none;
}
#form > button {
    background: #880085;
    border-width: 4;
    padding: 0 1rem;
    border-color: rgb(68, 27, 214);
    margin: 0.1rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}
#messages {
    list-style-type: none;
    margin-left: 200px;
    color: white;
    font-family: courier;
    font-weight: bold;
    padding: 0;
}
#messages > li {
    padding: 0.5rem 1rem;
}
#messages > li:nth-child(odd) {
    background: #880085;
}

a.home {
    text-decoration: none;
    background: #880085;
    border-width: 4px; 
    padding: 0 1rem;
    border-color: rgb(68, 27, 214);
    margin: 0.1rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 2.5;
    border-style: solid;
}