body {
    margin: 0;
    padding-bottom: 3rem;
    background-color: #40124C;
    font-family: courier;
}
.div-wrapper {
    background-color: #1f0f66;
    height: 100px;
}
.div-roomName,
.div-userName,
.div-roomCode,
.button-wrapper {
    display: inline-block;
    margin: auto;
    padding-left: 20px;
}
.joinRoom{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #880085;
    color: white;
    border-radius: 5px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    height: 40px;
    width: 200px;
    font-family: courier;
    font-size: 18px;
    text-shadow: -1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
}
.joinRoomHeader{
    text-shadow: -1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
    color: white;
    font-family: courier;
    font-size: 24px;
    padding-left: 25px;
}

#form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    position: fixed;
    bottom: -15;
    left: 0;
    background-color: #1f0f66;
    right: 0;
    font-family: courier;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}
#input {
    border: none;
    padding: 0 1rem;
    background-color: #40124C;
    font-family: courier;
    flex-grow: 1;
    color: white;
    border-radius: 2rem;
    margin: 0.25rem;
}
#input:focus {
    outline: none;
}
#form > button {
    background: #880085;
    border-width: 4;
    padding: 0 1rem;
    border-color: rgb(68, 27, 214);
    margin: 0.1rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
}
#messages {
    list-style-type: none;
    margin: 0;
    color: white;
    font-family: courier;
    padding: 0;
}
#messages > li {
    padding: 0.5rem 1rem;
}
#messages > li:nth-child(odd) {
    background: #880085;
}

a.home {
    text-decoration: none;
    background: #880085;
    border-width: 4px; 
    padding: 0 1rem;
    border-color: rgb(68, 27, 214);
    margin: 0.1rem;
    border-radius: 3px;
    outline: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 2.5;
    border-style: solid;
}